@define-color bg0       rgba(19, 19, 23, 0);
@define-color bg1       #1a1b26;
@define-color bg2       #2a2e45;
@define-color tip       rgba(26, 27, 38, 0.95);
@define-color accent    #bd93f9;
@define-color text      #ffffff;

@define-color grad1     #88cafe;
@define-color grad2     #8993f9;
@define-color grad3     #a27ced;
@define-color grad4     #c570de;

@define-color gradb1    #1c2933;
@define-color gradb2    #21233d;
@define-color gradb3    #271e38;
@define-color gradb4    #2d1b33;

* {
    border: none;
    border-radius: 0;
    font-family: Input Sans Compressed, Symbols Nerd Font Mono;
    font-weight: normal;
    font-size: 14px;
    min-height: 0px;
    margin-top: -2px;
}

window#waybar {
    background: @bg0;
    color: #cdd6f4;
    margin-top: 0px;
}

#workspaces button {
    padding: 4px;
    padding-top: 8px;
    color: @text;
    margin: 2px;
    border-radius: 7px;
}

#workspaces button.active {
    background: @accent;
    color: @bg1;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5),   /* outer shadow */
                inset 0 -3px 0 rgba(107, 80, 145, 0.5);  /* top gloss highlight */
}

#workspaces button:hover {
    background: rgba(56, 43, 73, 1);
    color: @text;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5),   /* outer shadow */
                inset 0 -3px 0 rgba(25, 19, 33 ,0.5);  /* top gloss highlight */
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

tooltip {
    background: @tip;
    border-radius: 10px;
    border: 2px solid @bg1;
}

#custom-language, #custom-updates, #custom-caffeine, #clock, #battery, #pulseaudio, #network, #tray, #backlight, #custom-wl-gammarelay-brightness, #custom-wl-gammarelay-temperature, #workspaces {
    background: @bg1;
    padding: 0px 10px;
    margin: 7px 0px;
    border-radius: 10px;
}

#custom-menu, #custom-power {
    background: @bg1;
    color: @accent;
    padding: 0px 8px;
    margin: 8px 0px;
    padding-bottom: 2px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5),   /* outer shadow */
                inset 0 -4px 0 rgba(0, 0, 0, 0.25);  /* top gloss highlight (107, 80, 145, 0.25) */
    border: 2px solid @bg2;
}

#custom-menu {
    margin-left: 5px;
    margin-right: 5px;

    padding-right: 8px;
    font-size: 14px;
}

#custom-power {
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 8px;
    padding-top: 1px;
    font-size: 12px;
}

#tray {
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: none;
}

#workspaces, #window {
    background: @bg1;
    padding-right: 0px;
    padding-left: 0px;
    border: 2px solid @bg2;
    border-radius: 10px;
}

#window {
    margin: 7px 5px 7px 5px;
    padding-left: 9px;
    padding-right: 7px;
}

#clock {
    color: @text;
    margin-left: 5px;
    border: 2px solid @grad4;
    background-color: @gradb4;
}

#network {
    color: @text;
    border: 2px solid @grad3;
    background-color: @gradb3;
}

#pulseaudio, #battery, #custom-wl-gammarelay-brightness, #custom-wl-gammarelay-temperature {
    color: @text;
    margin-right: 5px;
    border: 2px solid @bg2;
}

#pulseaudio {
    border-color: @grad1;
    background-color: @gradb1;
}

#battery {
    border-color: @grad2;
    background-color: @gradb2;
}

#battery, #pulseaudio, #network, #clock, #workspaces, #window {
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.25);
    border-width: 2px;
}
